<h2>{{@title}}</h2>

<ul>
  {{#each @deliveredFiles as |file|}}

    <li>
    <button type="button" {{on 'click' (fn this.showDeliveredFileDetails file)}}>
    {{file}}
    </button>
    </li>

  {{/each}}
</ul>

{{yield}}