{{page-title "CompressedFiles"}}
<h3>List of Compressed Files</h3>

<ul>
  {{#each @model as |compressed_files|}}
    <li>{{compressed_files}}</li>
  {{/each}}
</ul>

<CompressedFilesCollection
  @title="List of Scientists"
  @people={{@model}}
/>

{{outlet}}